  on:
    release:
      types:
        - released
  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Setup Python 3.8
          uses: actions/setup-python@v2
          with:
            python-version: '3.8'
        - name: Build project and upload to PyPi
          run: |
            python -m pip install --upgrade pip setuptools build twine
            python -m build
            python -m twine upload dist/*
          env:
            TWINE_USERNAME: ${{ secrets.TWINE_USER }}
            TWINE_PASSWORD: ${{ secrets.TWINE_PASS }}
        - name: Store artifacts
          uses: actions/upload-artifact@v2
          with:
            name: dist
            path: dist/*